.win-data-user-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.input-type-file {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.win-data-user {
    width: 300px;
    background-color: #ffffff;
}

.win-data-user-inner {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.win-data-user-inner input[type="text"] {
    padding-left: 10px;
    box-sizing: border-box;
}

.title-form {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
}

.input-data {
    margin-bottom: 10px;
    font-size: 15px;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.input-data:first-child {
    margin-bottom: 20px;
}

.btn-save-data {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 15px;
    color: #5a5a5a;
    border: 1px solid #E5E4E2;
    cursor: pointer;
    background-color: transparent;
    transition:
        background-color .1s linear,
        color .1s linear;
}

.btn-save-data:hover {
    background-color: #262c34;
    color: #ffffff;
}