.settings-menu-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.settings-menu {
    position: absolute;
    top: 60px;
    width: 250px;
    height: 100vh;
    background-color: #e9ecf2;
    z-index: 2;
}

.settings-menu-inner {
    padding: 10px;
}