.add-group {
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color .1s linear;
}

.add-group:hover {
    background-color: #d4d4d4;
}

.add-group-inner {
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.name-sattings {
    position: relative;
    max-width: 250px;
    font-weight: 500;
    font-size: 14px;
}

.name-sattings::after {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url("../../../../../../../resources/icons/settings-menu/add-group-icon.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}