[class*=underlay] {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.underlay-photo {
    background: linear-gradient(330deg, rgba(0, 0, 0, 0.43) 0%, rgba(63, 61, 61, 1) 100%);
    background-size: cover;
    z-index: -1;
}

.underlay-black {
    background: rgba(28, 28, 28, 0.5);
    z-index: -1;
}