@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.registration {
    height: 100vh;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.registration-form {
    background: transparent;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    margin: auto;
    width: 20vw;
    padding: 1vw;
}

input {
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    &:focus {
        outline: 0 transparent solid;

        ::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.7);
        }

        ::-moz-placeholder {
            color: rgba(0, 0, 0, 0.7);
        }

        :-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.7);
        }
    }
}



.registration-submit {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.6vw;
    width: 6vw;
    height: 4vh;
    font-weight: 400;
    font-size: 0.9vw;
    transition: 250ms background ease-in;

    &:hover,
    &:focus {
        background: white;
        color: black;
        transition: 250ms background ease-in;
    }
}

.sign-in {
    position: relative;
    left: 42%;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 0.9vw;
}

.sign-in:hover {
    text-decoration: underline;
}

